.header{
    background-image: url('../../Images/headBg.jpg');
    background-size: cover;
    background-position: top;
}
.head-title{
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 80px;
}